.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 4px;
  }
  
  .accordion-trigger {
    display: block;
    padding: 10px;
    background-color: blue;
    cursor: pointer;
    border: none;
    text-align: left;
  }
  
  .accordion-content {
    padding: 10px;
    display: none;
  }
  
  .accordion-content.active {
    display: block;
  }